/Client/obj
/Client/bin
/Server/obj
/Server/bin
*.suo
/bin
/obj
*.csproj
/Library
*.png
/Temp
*.sln
/Assets/NGUI.meta
/Assets/NGUI
/Build
/*.dat
/Misc
/*.unitypackage
/Assets/AssetStoreTools
/Assets/AssetStoreTools.meta
/Art/*.psd
/Assets/Temp.meta
/Assets/Temp
/Debug
/*.user
/TNet_Data
/*.exe
/*.config
